blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html {
    font: 12px 'Helvetica Neue', 'PingFang SC', STHeitiSC-Light, Helvetica, Arial, sans-serif;
}

.zwim-title {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    background-color: #36373C;
    color: #fff;
    font-size: 18px;
}


.zwim-tab {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid #f2f2f2;
    background-color: #fff;
}

.zwim-tab .actvie {
    color: #3FDD86;
}

.zwim-tab li {
    position: relative;
    width: 33.33%;
    height: 50px;
    text-align: center;
    color: #666;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    display: inline-block;
}


@font-face {
    font-family: layui-icon;
    src: url(./iconfont.eot?v=1.0.7);
    src: url(./iconfont.eot?v=1.0.7#iefix) format('embedded-opentype'), url(./iconfont.woff?v=1.0.7) format('woff'), url(./iconfont.ttf?v=1.0.7) format('truetype'), url(./iconfont.svg?v=1.0.7#iconfont) format('svg')
}


.zwim-icon {
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zwim-tab .zwim-icon {
    position: relative;
    top: 3px;
    font-size: 22px;
}

.zwim-tab li span {
    position: relative;
    bottom: -7px;
    display: block;
    font-size: 12px;
}

.zwim-tab li.zwim-this {
    color: #3FDD86;
}

.zwim-list li {
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;

    position: relative;
    height: 42px;
    padding: 5px 15px 5px 60px;
    font-size: 0;
}

.zwim-list li img {
    position: absolute;
    left: 12px;
    top: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}


.zwim-list li span {
    margin-top: 2px;
    max-width: 155px;
    font-size: 17px;
}


.data_row p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.zwim-list li .layim-msg-status {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 7px;
    padding: 0 5px;
    height: 17px;
    line-height: 17px;
    border-radius: 17px;
    text-align: center;
    font-size: 10px;
    background-color: #F74C31;
    color: #fff;
}

.zwim-list li p {
    display: block;
    padding-right: 30px;
    line-height: 18px;
    font-size: 13px;
    color: #999;
}

.tab-frame {
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-frame {
    bottom: 0;
    background-color: #eee;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    animation-duration: 300ms;
}

.hide {
    display: none;
}

.layim-new {
    display: none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #F74C31;
    color: #fff
}

.zwim-title p {
    cursor: pointer;
}


/******************************************/
